body {
  background-color: #F5F5F5;
  font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #393733;
}

#jumbotron-background {
  background-image: url('../images/panel-background.png');
  background-repeat: repeat-x;
  background-color: #e9b96e;
  overflow: hidden;
}
#jumbotron-background .grid-pad {
  padding: 0 0 40px 0;
}
#jumbotron {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}
#jumbotron img {
  display: inline-block;
  vertical-align: middle;
}
#jumbotron img#screenshot-small {
    display: none;
  }
#jumbotron span {
  display: inline-block;
  vertical-align: middle;
  margin: 50px 100px 0 30px;
}
#jumbotron h1 {
  margin-top: 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px;
  font-size: 36pt;
  color: #ffffff;
  font-weight: 300;
}
#jumbotron h2 {
  margin: 0;
  text-align: left;
  font-size: 24pt;
  font-weight: 300;
}
#jumbotron a.button, a.button:active, a.button:visited {
  font-size: 12pt;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}
#jumbotron a.button:hover{
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  color: #e9b96e;
}

[class*='col-'] {
  float: left;
  padding-right: 40px;
}

.grid-pad {
  padding: 40px 0 40px 40px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 40px;
}

.content h1 {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
.content h2 {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
.content h2 i {
  font-size: 30pt;
}
.content h3 {
  font-weight: 300;
  line-height: 150%;
}
.content {
  font-size: 12pt;
  line-height: 20pt;
}
a, a:hover, a:active, a:visited {
  color: #449FDD;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.pull-right {
  float: right;
}

hr {
  background-color: #666666;
  border: 0 none;
  height: 1px;
  width: 100px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

#footer {
  background-color: #e2e2e2;
}

@media handheld, only screen and (max-width: 768px) {
  #jumbotron-background {
    background-image: none;
  }
  #jumbotron img#screenshot {
    display: none;
  }
  #jumbotron img#screenshot-small {
    display: block;
    margin: 40px auto 0 auto;
  }
  #jumbotron span {
    margin: 30px 0 0 0;
  }
  #jumbotron h1 {
    font-size: 30pt;
  }
  #jumbotron h2 {
    font-size: 20pt;
  }
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 14pt;
  }
  h3 {
    font-size: 13pt;
  }

  img {
    max-width: 100%;
  }

  [class*='col-'] {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .grid-pad {
    padding: 40px 20px 40px 20px;
  }

  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 0;
  }

  #footer {
    text-align: center;
  }
  #footer .pull-right {
    margin: 20px auto;
    display: block;
    float: none;
  }
}
