[Desktop Entry]
Type=Application
Name=Indicator Workspaces
Comment=Configure workspaces and interact with them in the panel.
Exec=/usr/share/indicator-workspaces/indicator-workspaces
OnlyShowIn=Unity;GNOME;Pantheon;
NoDisplay=true
StartupNotify=false
Terminal=false
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=indicator-workspaces
